h1 {
  margin: 0.5em 0;
}

h1,
h2,
h3,
p,
label {
  color: var(--text-color);
}

body {
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --background-color: #f4f4f4;
  --text-color: #333333;
  --primary-color: #346799;
  --secondary-color: #7c7c7c;
  --card-background: #e3e3e3;
  --card-border: #d0d0d0;
  --link-color: #0066cc;
  --link-hover-color: #004d99;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #5b7a9f;
  --secondary-color: #9e9e9e;
  --card-background: #333333;
  --card-border: #444444;
  --link-color: #4d8dcb;
  --link-hover-color: #3b7ca5;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

i,
span {
  color: var(--text-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--text-color);
}

.navbar-light .navbar-toggler {
  background-color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-secondary {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.card,
.modal-content {
  background-color: var(--card-background);
  border-color: var(--card-border);
}

.card-text,
.card-title,
.table {
  color: var(--text-color);
}

.table th,
.table td {
  color: var(--text-color);
  border-color: var(--card-border);
  background-color: var(--background-color);
}

.table thead th {
  color: var(--text-color);
  background-color: var(--background-color);
}

.table tbody tr {
  background-color: var(--background-color);
}

.table tbody tr:hover {
  background-color: var(--background-color);
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.alert-success[data-theme="dark"] {
  background-color: #155724;
  color: #d4edda;
  border-color: #155724;
}
